*{
    margin: 0; 
    padding: 0;  
    box-sizing: border-box;      
}

body{
              background: #fff;
}
.navbar{
              display: flex;
              justify-content:space-between;
              align-items: center;
              padding: 15px, 40px;
              border: 1px solid #ccc;
             box-shadow: #ccc;
}
.logo{
              font-size: 26px;
              font-weight: bold;
              color: rgb(6, 70, 172);
}
.menu{
              display: flex;
              list-style: none;
              gap: 25px;
                color: rgb(6, 147, 172);
                
}
.menu li{
              cursor:pointer ;
              font-size: 18px;
}
.dowload-btn{
              padding: 8px 16px;
              background: red;
              color: #fff;
              border: 0;
              cursor: pointer;
              font-weight: bold;
              justify-items: center;
            
}


.top-section{
              text-align: center;
              padding: 30px 0;
}
.section-title{
              margin-bottom:20px;

}
.grid-container{
              display: grid;
              grid-template-columns: repeat(3,1fr);
              gap: 20px;
              width: 80%;
              margin: auto;

}
.card{
              background: red;
              padding: 20px;
              color: #fff;
             
}
.card img{
              width: 120px;
}
.card h3{
           margin: 10px 0;   
}
.card p{
              font-size: 14px;
}
.card button{
              margin-top: 10px;
              padding: 8px 15px;
              background: #fff;
              border: none;
              font-weight: bold;
              cursor:pointer;
}
.mid-grid{
              width: 80px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap:25px;
}
.small-card{
              padding: 20px;
              background: #f5f5f5;

}
.small-card img{
              width: 60px;
}
.line{
             
               border-top: 1px solid #7b7979;
              color: red;
            text-align: center;
           
              
}
.bottom-section{
              display: flex;
              justify-content: center;
              align-items: center;
              background: #efefef;
              padding: 40px 20px;
              gap: 80px;
              margin-top:80px;
}
.mobile{
              width: 180px;
}
.store-btns{
              display:flex;
              gap: 20px;
              margin-top: 10px;
}
.store{
              width: 150px;
}

@media (max-width : 900px){

              .menu{
              display: none;
             
} 
.grid-container{
              display: grid;
              grid-template-columns: repeat(2,1fr);
              gap: 20px;
              width: 80%;
              margin: auto;

}  
.mid-grid{
              width: 80px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              gap:25px;
}          
}

@media (max-width : 600px){

              .menu{
              display: none;
             
} 
.grid-container{
              display: grid;
              grid-template-columns: repeat(1,1fr);
              gap: 20px;
              width: 80%;
              margin: auto;

}
.mid-grid{
              width: 80px;
              margin: auto;
              display: grid;
              grid-template-columns: repeat(1, 1fr);
              gap:25px;
}            
}